body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("bgimage.png");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px; 
}

.container {
    max-width: 800px; 
    margin: 0 auto;
    padding: 0 20px; 
}

h1 {
    font-size: 28px; 
    margin-top: 20px; 
}

.task-input {
    display: flex;
    margin-top: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px; 
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
}

.element {
    position: fixed;
    bottom: 0;
    right: 0;
}

div.scroll {
    max-height: 200px; 
    overflow: auto; 
}

.myWrapper {
    max-width: 90%; 
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;   
    background: grey;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {
    body {
        background-image: url('bgimage.png');
    }
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"] {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}